<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402578668828-oe7pr8d0a5vqg7hdmlsiphop3cpdthmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402578668828-oe7pr8d0a5vqg7hdmlsiphop3cpdthmv</string>
	<key>API_KEY</key>
	<string>AIzaSyCFBgEgkI8UaarZ19V9dzSWfANxAhOd81s</string>
	<key>GCM_SENDER_ID</key>
	<string>402578668828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambton.C0787472.buildJobProfile.Capstone-CodeBrewer-BuildJobProfile</string>
	<key>PROJECT_ID</key>
	<string>build-job-profile</string>
	<key>STORAGE_BUCKET</key>
	<string>build-job-profile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402578668828:ios:51ea8fb347d92cf1654ed9</string>
</dict>
</plist>